@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu-container,
.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.menu-container {
    padding: 18px 0px;
}
 
.menu {
    display: flex;
    width: 1200px;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9fAF8;
    font-weight: 800;
}

.nav-links {
    display: flex;
    gap: 18px;
    cursor: pointer;
}

.header-container {
    padding: 90px 0px;
}

.header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    width: 450px;
}

.hero-text {
    font-size: 48px;
    color: #F9fAF8;
    font-weight: 900;
    padding-bottom: 8px;    
}

.text, 
.nav-links {
    color: #e5e7eb;
    font-size: 18px;
}

.text {
    padding-bottom: 10px;
}

.first-pic {
    height: auto;
    width: 500px;
}

.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 30px;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
}

.content-container {
    background-color: white;
}

.content-header-text {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 40px 0px;
}

.content-img-grid {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-bottom: 90px;
    margin: auto;
}

.img-text {
    font-size: 18px;
    color: #3a3a3a;
}

.content-img {
    width: 200px;
}

.second-pic {
    height: auto;
    width: 200px;
    border-radius: 10px;  
}

.quote-container {
    background-color: #e5e7eb;
    padding: 100px 0px;
}

.quote {
    text-align: left;
    width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin: auto;
}

.quote-author {
    text-align: right;
    width: 800px;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    display: flex;
    width: 1200px;
    padding: 50px;
    border-radius: 8px;
    justify-content: space-around;
}

.call-to-action-header {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action-text {
    font-size: 18px;
    color: #e5e7eb;
}

.call-to-action-sign-up {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 30px;
    border-style: none;
    border-radius: 6px;
    border-color: white;
    border-style: solid;
    align-self: flex-end;
    cursor: pointer;
}

.footer-container {
    text-align: center;
    color: #e5e7eb;
    background-color: #1F2937;
    padding: 40px;
}

